html, body, h1, h2, ul, li a{
    margin:0;
    padding:0;
    font-family: Calibri, Arial;
}
header{
    background-color: #23374f;
    padding-top:7px;
    padding-left: 50px;
}
nav{
    background-color: #f7f7f7;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left:50px;
    border-bottom: 2pX solid #797878;
    /*text-align: center*/;
}

nav ul li{
    display: inline;
}

nav ul li a{
    text-decoration: none;
    font-size: 18px;
    color: #797878;
    font-weight: bold;
    padding-left: 10px;
    padding-right: 15px;
}

nav ul li a:hover{
    text-decoration: underline;
    color: #000000;
    background-color: #f8dbb1;
    padding-top: 10px;
    padding-bottom: 10px;
}

main article{
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 100px;
    padding-right: 100px;
}
main article h1{
    font-size: 38px;
    text-align: center;
}
main article h2{
    font-display: 30px;
}
main article p{
    font-size: 24px;
    text-align: justify;
}

footer{
 background-color: #23374f;
 color: #ffffff;
 font-size: 25;
 text-align: center;
 padding-top: 25px;
 padding-bottom: 25px;
}